doctype html
html
  head
    title= title
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css")      
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    
  body
    block content
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/materialize/dist/js/materialize.min.js")
